html{
    box-sizing: border-box;
    margin: 0;
}

*,
::before,
::after{
    box-sizing:inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    overflow-x: hidden;
    color: #222;
}

img{
    max-width: 100%;
    height: auto;
}