.page{
    background: #FFF5F0;
    padding-top: 40px;

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__name{
        font-style: normal;
        font-weight: bold;
        font-size: 58px;
        line-height: 80px;
        color: #252B42;
        width: 500px    
    }

   &__link{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #1BA0AB;
    text-decoration: none;
   }
   
   &__text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
   }

   &__button{
    background: hsl(185, 73%, 39%);
    border-radius: 5px;
    border: 2px solid #1BA0AB;
    width: 120px; 
    height: 50px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
   }

   &__buttons{
    border-radius: 5px;
    width: 120px; 
    height: 50px; 
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #1BA0AB;
    border: 2px solid #1BA0AB;
   }

   &__item{
     margin: 5px;   
   }
}
.page__list{
    list-style: none;
}
.page__lists{
    display: flex;
    list-style: none;
    padding-left: 18px;
}

@media (max-width:1160px){
    .container{
        width:1000px;
    }
    .page__pic{
        width: 400px;
        height: 550px;
    }
}

@media (max-width:1020px){
    .container{
        width: 900px;
    }
    .page__name{
        width: 370px;
        font-size: 50px;
        line-height: 60px;
    }
}
@media (max-width:920px){
    .container{
        width: 800px;
    }
    .page__box{
        flex-direction: column-reverse;
        align-items: center;
    }
    .page__pic{
        width: 500px;
    }
}
@media (max-width:820px) {
    .container{
        width: 700px;
    }
    .page__name{
        width: 300px;
        font-size: 40px;
        line-height: 50px;
    }
    .page__text{
        font-size: 16px;
        line-height: 25px;
    }
}
@media (max-width:720px) {
    .container{
        width: 600px;
    }
    .page__pic{
        width: 400px;
        height: 450px;
    }
}

@media (max-width:620px) {
    .container{
        width: 500px;
    }
    .page__pic{
        width: 350px;
        height: 400px;
    }
    .page__name{
        font-size: 30px;
        line-height: 40px;
        width: 250px;
    }
    .page__button, .page__buttons{
        width: 100px;
        height: 45px;
    }
}